{% load static %}
{% load i18n %}


<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>RTML</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon.ico' %}">


</head>

<body class="day-mode">

  <header>
    <div class="theme-switcher" id="theme-switcher">
      <img src="{% static 'img/day.png' %}" alt="Дневной режим" id="sun-icon" style="display: none;">
      <img src="{% static 'img/night.png' %}" alt="Ночной режим" id="moon-icon">
    </div>
<form action="/i18n/setlang/" method="post" id="language-form">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language" id="language-select">
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
        {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected {% endif %}>
                {{ lang.1 }}
            </option>
        {% endfor %}
    </select>
  </form>
  </header>

  <main>
    <div class="text-block">  
    <h1>Radio Télévision Libre des Mémoire</h1>
    <p>{{ description|linebreaksbr }}</p>
  </div>

  <div class="text-block">  
    <h1>{% trans "Откуда берется датасет" %}</h1>
    <a href="https://www.1tv.ru/live" class="image-link">
      <img src="{% static 'img/1tv.png' %}" alt="1tv">
    </a>

    <a href="https://www.tvr.by/televidenie/belarus-1" class="image-link">
      <img src="{% static 'img/belarus-1.png' %}" alt="belarus-1">
    </a>

    <a href="https://1plus1.video/tvguide/1plus1/online" class="image-link">
      <img src="{% static 'img/1plus1.png' %}" alt="1plus1">
    </a>

    <p>{{links|linebreaksbr }}</p>
  </div>

  <div class="text-block">  
    <p>{% trans "Здесь ссылка для скачивания датасета" %}</p>
    <a href="https://github.com/format37/rtlm" class="special-link">{% trans "Здесь" %}</a>
  </div>
  </main>

  <footer>

    <a href="https://www.patreon.com" class="image-link">
        <img src="{% static 'img/pat.png' %}" alt="Patreon">
    </a>
    <a href="https://t.me/your_channel" class="image-link">
        <img src="{% static 'img/tel.png' %}" alt="Telegram">
    </a>  

  </footer>
  <script>
  document.addEventListener('DOMContentLoaded', function() {
  const themeSwitcher = document.getElementById('theme-switcher');
  const sunIcon = document.getElementById('sun-icon');
  const moonIcon = document.getElementById('moon-icon');
  let currentTheme = localStorage.getItem('theme') || 'day-mode';

  updateTheme(currentTheme);

  themeSwitcher.addEventListener('click', function() {
    currentTheme = currentTheme === 'day-mode' ? 'night-mode' : 'day-mode';
    localStorage.setItem('theme', currentTheme);
    updateTheme(currentTheme);
  });

  function updateTheme(theme) {
    if (theme === 'night-mode') {
      document.body.classList.remove('day-mode');
      document.body.classList.add('night-mode');
      sunIcon.style.display = 'none';
      moonIcon.style.display = 'block';
    } else {
      document.body.classList.remove('night-mode');
      document.body.classList.add('day-mode');
      sunIcon.style.display = 'block';
      moonIcon.style.display = 'none';
    }
  }
});


  </script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var languageSelect = document.getElementById('language-select');
        languageSelect.addEventListener('change', function() {
          this.form.submit();
        });
      });
    </script>
</body>
</html>