{% load static %}
{% load i18n %}


<!DOCTYPE html>
<html>
<head>
  <title>RTML</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon.ico' %}">


</head>

<body class="day-mode">

  <header>
    <div class="theme-switcher" id="theme-switcher">
      <img src="{% static 'img/day.png' %}" alt="Дневной режим" id="sun-icon" style="display: none;">
      <img src="{% static 'img/night.png' %}" alt="Ночной режим" id="moon-icon">
    </div>
    <form action="/i18n/setlang/" method="post">
      {% csrf_token %}
      <input name="next" type="hidden" value="{{ redirect_to }}" />
      <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
          {% for lang in LANGUAGES %}
              <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected {% endif %}>
                  {{ lang.1 }}
              </option>
          {% endfor %}
      </select>
      <input type="submit" value="Change Language">
  </form>
  </header>

  <main>
    <h1>Radio Télévision Libre des Mémoire</h1>

    <p>{{ description|linebreaksbr }}</p>
    <a href="https://www.mysite" class="special-link">mysite</a>
  </main>

  <footer>

    <a href="https://www.patreon.com" class="image-link">
        <img src="{% static 'img/pat.png' %}" alt="Patreon">
    </a>
    <a href="https://t.me/your_channel" class="image-link">
        <img src="{% static 'img/tel.png' %}" alt="Telegram">
    </a>  

  </footer>
  <script>
    const themeSwitcher = document.getElementById('theme-switcher');
    const sunIcon = document.getElementById('sun-icon');
    const moonIcon = document.getElementById('moon-icon');
    let currentTheme = localStorage.getItem('theme');

    if (!currentTheme) {
      currentTheme = 'day-mode';
      localStorage.setItem('theme', currentTheme);
    }

    document.body.classList.add(currentTheme);
    updateThemeIcons(currentTheme);

    themeSwitcher.addEventListener('click', function() {
      let theme;
      if(document.body.classList.contains('day-mode')) {
        document.body.classList.remove('day-mode');
        document.body.classList.add('night-mode');
        theme = 'night-mode';
      } else {
        document.body.classList.remove('night-mode');
        document.body.classList.add('day-mode');
        theme = 'day-mode';
      }
      localStorage.setItem('theme', theme);
      updateThemeIcons(theme);
    });

    function updateThemeIcons(theme) {
      if (theme === 'night-mode') {
        sunIcon.style.display = 'none';
        moonIcon.style.display = 'block';
      } else {
        sunIcon.style.display = 'block';
        moonIcon.style.display = 'none';
      }
    }

  </script>
  
</body>
</html>